/* h3 {
  margin: 1em 0.5em;
} */

.dates-container,
.genres-container {
  margin: 1em 0;
}

.btn-container {
  text-align: center;
}

.date label {
  display: inline-block;
  min-width: 5em;
}



.btn.btn-submit {
  transition: .15s ease-in-out all;
  margin: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 1.2em;
  border: 1px solid lightgrey;
  padding: 0.35em 0.95em;
  background: #7272ff;
  color: white
}

.btn.btn-submit:hover {
  background: #5454b3;
}