.checkbox-group-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 30em; }

.checkbox-group-item {
  display: block;
  padding: 0 0.5em; }

.checkbox-group-item input {
  position: relative;
  margin-right: 5px; }
