.results--container {
  margin-top: 4em;
}

.results--page-display {
  text-align: right;
  padding: 0 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  p {
    // font-size: 0.8em;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    .badge-page {
      vertical-align: sub;
      font-size: 90%;
      padding: 0.5em;
    }
  }
}

.results--pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 1em 0;

  .container-button--page {
    padding: 0 1em;
  }

  .btn--icon {
    vertical-align: top;
  }
}

.result-main {
  margin: 3em 1em;
}

.result-main h4 {
  margin: 1em 0;
  padding: 0.5em;
  border-bottom: 1px solid lightgray;
}

.result-image {
  width: 7.5em;
  box-shadow: 1px 1px 1px black;
}

.result-overview p {
  text-align: center;
  padding: 1.2em 0;
}

.result-content-right {
  text-align: right;
}

.result-content-right p {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin: 0.2em;
}

@media screen and (min-width: 400px){
  .result-image {
    width: 10em;
  }

  .result-overview p {
    padding: 1.2em;
  }
}

@media screen and (min-width: 768px){
  .result-overview p {
    text-align: left;
  }
}